@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}
<h2>@Localizer["My Tables"]</h2>
<ul>
    <li><a asp-area="" asp-controller="Products" asp-action="Index">@Localizer["Products"]</a></li>
</ul>
